[Unit]
Description=DB Container Backup Daily Job

[Timer]
OnCalendar=*-*-* 11:00:00,23:00:00,
Persistent=true
Unit=db-container-backup.service

[Install]
WantedBy=timers.target
