[Unit]
Description=DB Container Backup Script
Wants=db-container-backup.timer

[Service]
Type=simple
ExecStart=sh /root/db-backups/scripts/db-container-backup.sh
User=root

[Install]
WantedBy=default.target
